*.lo
*.o
*.la
*.in
*.db
*.gir
*.typelib
*.deps
*.libs
*.png
*.pyc
*.user
*.sdf
*.suo
*.aps
*.exp
*.aps
*~
win32/ipch/*
win32/Debug/*
win32/Release/*
win32/gimo.opensdf
Makefile
/*~
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
tools/gimo-launch
tests/test-module
tests/test-archive
tests/test-plugin
tests/test-context
src/test-gtk
src/test-builder
src/test-theming
